<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      a, p {
        font-family: Avenir, sans-serif;
        font-size: 15px;
      }

      a {
        color: #000cac;
        text-decoration:none;
      }
    </style>
  </head>

  <body>
  <div style="background-color:#fbfbfb">
    <div style="border-bottom:2px solid #eeeeee;background-color:#ffffff">
      <table cellspacing="0" align="center" width="600" cellpadding="0"><tbody>
        <tr>
          <td valign="middle" width="40" height="50">
            <%= link_to 'http://www.tipster.to', :target => "_blank", :style => "border:1px solid #eee;" do %>
              <%= image_tag attachments['logo.png'].url %>
            <% end %>
          </td>
          <td align="right">
            <a href="http://www.tipster.to/users/sign_in" target="_blank">Log In</a>
          </td>
        </tr>
      </tbody></table>
    </div>

    <table align="center" width="600" cellpadding="0" cellspacing="0" border="0"><tbody>
      <tr><td height="30">&nbsp;</td></tr>
      <tr>
        <td valign="top">
          <%= image_tag attachments['header.jpg'].url, :class => "header" %>
          <table style="border:1px solid #eee;" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600"><tbody>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="550"><tbody>
                  <tr><td valign="top" colspan="2" height="30">&nbsp;</td></tr>
                  <tr>
                    <td width="30">&nbsp;</td>
                    <td valign="top" colspan="2" style="text-align:center;">

<p style="font-size:18px;"><strong><%= @sender.full_name %></strong> has sent you a tip!</p>

<p style="margin: 20px 0;">
  <a href="http://www.tipster.to/visit_link/<%= @tip.id %>" style="border:none;padding:10px 50px;margin:15px 0 5px;color:white;background-color:#000cac;text-align:center;vertical-align:middle;cursor:pointer;white-space:nowrap;border-radius:4px;">
    Click here to check it out!
  </a>
</p>

<p>
  Or view it in your <a href="http://www.tipster.to/inbox" target="_blank">Inbox</a>.
</p>

                    </td>
                    <td width="30">&nbsp;</td>
                  </tr>
       
                  <tr>
                    <td valign="top" height="30" style="height:30px">&nbsp;</td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="540"><tbody>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <p style="font-size:9pt;color:#8b959e;text-decoration:none;text-align:center">
                  You're receiving this because you signed up for a Tipster account with this email.<br>Wasn't you? <a style="font-size:9pt;color:#8b959e;text-decoration:none;" href="mailto:garrett@tipster.to">Let me know</a>.               
                </p>
                <p style="font-size:9pt;color:#8b959e;text-decoration:none;text-align:center">
                  Want to get rid of these emails? <a href="#" style="font-size:9pt;color:#8b959e;text-decoration:none;" target="_blank">Manage your email preferences</a>.
                </p>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td height="50">&nbsp;</td>
      </tr>
    </tbody></table>
  </div>
  </body>
</html>