<div id="profile-sidebar" class="sidebar">
	<%= image_tag @user.avatar.url(:medium), class: "avatar" %>
	<h1><%= @user.full_name %></h1>

	<% unless current_user == @user || @friendship != nil %>
		<%= link_to "Add Friend", friendships_path(:friend_id => @user), class: "btn btn-primary", :method => :post %>
	<% end %>

	<% unless current_user == @user || @friendship = nil %>
		<%= render '/tips/form' %>
	<% end %>

	<h2>Friends</h2>
	<ul>
		<% @friends.each do |friend| %>
			<li>
	      <%= link_to friend.full_name, profile_path(friend) %> 
	      <% if current_user == @user %>
	      	(<%= link_to "Unfriend?", friendship_path(:id => friend), :method => :delete %>)
	      <% end %>
	    </li>
	  <% end %>
	</ul>

	<% if current_user == @user %>
		<h2>Friend Requests</h2>
		<ul>
			<% @user.requested_friendships.each do |request| %>
				<li>
		      <%= request.email %> 
		      <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> 
		      <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
		    </li>
		  <% end %>
		</ul>
	<% end %>

	<div class="spacer"></div>
</div>

<div id="profile-content" class="js-isotope content" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip", "rowHeight": 240, "gutter": 10 }'>
	<% @tips.each do |tip| %>
		<div class="tip">
			<% unless tip.image_file_name.nil? %>
				<%= image_tag "tip-aro.png", class: "aro" %>
				<%= link_to image_tag(tip.image.url(:full)), tip.link %>
			<% end %>
			<div class="box">
		    <h3><%= link_to tip.title, tip.link %></h3>
		    <p><%= tip.description %></p>
		    <p>
		    	<span class="count"><%= tip.reshares %></span>
		    	<% if current_user == @user %>
		    		<%= link_to tip, method: :delete, data: { confirm: 'Are you sure?' } do %>
		    			<span class="glyphicon glyphicon-trash"></span>
		    		<% end %>
		    	<% end %>
	    	</p>
		  </div>
		</div>
	<% end %>
</div>