<% content_for :head do %>
  <title><%= @user.full_name %> on Tipster</title>
<% end %>

<div id="page" class="profile-page js-isotope" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip", "stamp": "#stamp" }'>

	<div id="stamp">
		<div id="profile">
			<%= image_tag @user.avatar.url(:medium), class: "avatar" %>

			<h1><%= @user.full_name %></h1>

			<div class="btn-group counts">
			  <button type="button" class="btn btn-default filter active" data-filter="*">
			  	<%= @user.tips.count %><br><span class="count-label">Tip<% if @user.tips.count != 1 %>s<% end %></span>
			  </button>
			  <button type="button" class="btn btn-default filter" data-filter=".disc">
				  <%= @discoveries.count %><br><span class="count-label"><% if @discoveries.count != 1 %>Discoveries<% else %>Discovery<% end %></span>
				</button>
			  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#viewFriends">
			  	<%= @user.friends.count %><br><span class="count-label">Friend<% if @user.friends.count != 1 %>s<% end %></span>
			  </button>
			</div>

			<% if @user.friends.count == 0 && @user == current_user %>
				<div class="nofriends">
					<p> No friends yet. <%= link_to "Find some?", "contacts/gmail", :class => "popup", :"data-width" => 500, :"data-height" => 500 %><p>
				</div>
			<% elsif @user.friends.count == 0 && @requested_friendship == nil %>
				<div class="nofriends">
					<p>No friends yet. You should fix that.<p>
				</div>
			<% end %>

			<div class="addfriend">
				<% if @user != current_user && @friendship == nil && @requested_friendship == nil %>
					<%= link_to "Add Friend", friendships_path(:friend_id => @user), class: "btn btn-primary", :method => :post %>
				<% elsif @user != current_user && @friendship == nil && @requested_friendship != nil %>
					<%= link_to "Friend Requested.", "#", class: "btn btn-default", :"disabled" => "disabled" %>
				<% end %>
			</div>

			<% if @user != current_user && @friendship != nil %>
				<div class="tipbutton">
					<button class="btn btn-primary" data-toggle="modal" data-target="#sendTip">
					  Send Tip
					</button>
				</div>
			<% end %>

			<% if current_user == @user && @user.requested_friendships.last %>
				<p>You have <a data-toggle="modal" data-target="#viewFriends"><%= @user.requested_friendships.count %> friend requests</a>.</p>
			<% end %>
		</div>

		<% if @user.tips.count == 0 && @user == current_user %>
			<!-- For testing -->
			<div style="width:500px;">
				<h4>Hi there! Welcome to the Tipster alpha.</h4>
				<p>Here is where you'll see tips that you've sent, as soon as you send some.</p>
				<p>First, you'll need some friends. If you're just starting, you should see a "Find Friends" link above. That'll let you track down any Google contacts you have that are already on the site.</p>
				<p>Because we're still in early testing, I haven't activated the option to invite friends who are not already on the service. That will open up as soon as we move to beta.</p>
				<p>If you don't have any other friends on yet, feel free to <%= link_to "click this link", friendships_path(friend_id: 2, og: true), :method => :post %> to automatically add <%= link_to "Garrett", profile_path(2) %> as a friend, so that you can try out the features fully.</p>
				<p>Enjoy!</p>
			</div>
			<!--<p>You haven't sent any tips yet. Why don't you try? All the cool kids are doing it.</p>
			<p>Tips can be sent via the Chrome extension or from a friend's profile page.</p>-->
		<% elsif @user.tips.count == 0  %>
			<h3><%= @user.first_name %> hasn't sent any tips yet.</h3>
		<% else %>
			<h2 class="wide">Stuff <%= @user.first_name %> has shared:</h2>
		<% end %>
	</div>

	<!-- Tips -->
	<% @user.tips.order("created_at DESC").each do |tip| %>
		<div class="tip <% if tip.originator == @user %>disc<% end %>">
			<%= link_to image_tag(tip.image.url(:full)), tip.link, target: '_blank' %>
			<div class="box">
		    <h3><%= link_to tip.link, target: '_blank' do %><%= raw tip.title %><%end%></h3>
		    <p><%= raw tip.description %></p>
		    	<span class="count"><%= tip.reshares %></span>
		    	<% if tip.originator == @user %>
	    			<%= image_tag "discovery.png",  class: "origin discovery" %>
		    	<% elsif tip.originator != nil %>
		    		<%= link_to profile_path(tip.originator.id) do %>
		    			<%= image_tag tip.originator.avatar.url(:thumb), class: "origin" %>
		    		<% end %>
		    	<% end %>
		    	<% if current_user == @user %>
		    		<%= link_to tip, method: :delete, data: { confirm: "Are you sure you want to delete this tip? This will remove it from your friends' inboxes as well." } do %>
		    			<span class="glyphicon glyphicon-trash"></span>
		    		<% end %>
		    	<% end %>
		  </div>
		</div>
	<% end %>

</div>




<!-- Send Tip Modal -->
<div class="modal fade" id="sendTip" tabindex="-1" role="dialog" aria-labelledby="sendTipLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="sendTipLabel">Send Tip</h4>
      </div>
			<%= form_for(@tip) do |f| %>
				<div class="modal-body">
			  	<% if @tip.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

				      <ul>
				      <% @tip.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  <p>Enter the URL of the tip you want to send below:<p>

				  <div class="field">
				    <%= f.label :link, class: "sr-only" %><br>
				    <%= f.text_field :link, class: "form-control", placeholder: "e.g., http://www.google.com"  %>
				    <%= hidden_field_tag(:recipient_id, @user.id) %>
				  </div>

				</div>
				<div class="modal-footer">
				  <div class="actions">
				  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    <%= f.submit "Send", class: "btn btn-primary" %>
				  </div>
				</div>
			<% end %>
    </div>
  </div>
</div>


<!-- Friends Modal -->
<div class="modal fade" id="viewFriends" tabindex="-1" role="dialog" aria-labelledby="viewFriendsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="viewFriendsLabel"><%= @user.full_name %>'s Friends</h4>
      </div>
			<div class="modal-body">
				<% @user.friends.each do |f| %>
					<%= link_to profile_path(f) do %>
						<%= image_tag f.avatar.url(:thumb) %>
					<% end %>
				<% end %>

				<% if current_user == @user && @user.requested_friendships.last %>
					<h4>Friend Requests</h4>
					<p>
						<% @user.requested_friendships.each do |request| %>
					      <%= request.full_name %> 
					      <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> / 
					      <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
					      <br>
					  <% end %>
					</p>
				<% end %>
			</div>
			<div class="modal-footer">
			</div>
    </div>
  </div>
</div>