<div class="profile-column">
	<%= image_tag @user.avatar.url(:medium), class: "avatar" %>
	<h3><%= @user.first_name %> <%= @user.last_name %></h3>

	<% unless current_user == @user %>
		<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
		<%= render '/tips/form' %>
	<% end %>

	<h4>Friends</h4>
	<ul>
		<% @user.friends.each do |friend| %>
			<li>
	      <%= friend.email %> 
	      <% if current_user == @user %>
	      	<%= link_to "Remove", friendship_path(:id => friend), :method => :delete %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>

	<% if current_user == @user %>
		<h4>Friend Requests</h4>
		<ul>
			<% @user.requested_friendships.each do |request| %>
				<li>
		      <%= request.email %> 
		      <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> 
		      <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
		    </li>
		  <% end %>
		</ul>
	<% end %>
</div>