<div class="profile-column">
	<%= image_tag @user.avatar.url(:medium), class: "avatar" %>
	<h3><%= @user.first_name %> <%= @user.last_name %></h3>

	<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>

	<h4>Friends</h4>
	<ul>
		<% @user.friends.each do |friend| %>
			<li>
	      <%= friend.email %><%= link_to "remove", friendship_path(:id => friend), :method => :delete %>
	    </li>
	  <% end %>
	</ul>

	<h4>Friend Requests</h4>
	<ul>
		<% @user.requested_friendships.each do |request| %>
			<li>
	      <%= request.email %> 
	      <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> 
	      <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
	    </li>
	  <% end %>
	</ul>
</div>