<% content_for :head do %>
  <title>Tipster / Forgot Password</title>
<% end %>

<div class="userforms-container">
  <div class="userform resetform">
    <%= link_to root_path do %>
      <img src="/assets/logotype-sm.png" class="logotype">
    <% end %>
		<h2>Forgot your password?</h2>

		<p>Enter your email and we'll send you instructions on how to reset your password.</p>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="userform-group">
		  	<%= f.label :email, class: "sr-only" %>
			  <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
			</div>

		  <div class="form-group"><%= f.submit "Submit", class: "btn btn-primary" %></div>
		<% end %>

		<p>Not a member? <%= link_to "Sign Up Now", new_registration_path(resource_name) %></p>
	</div>
	<img src="/assets/boxes-left.jpg" class="boxes">
</div>