<% content_for :head do %>
  <title>Tipster / Inbox</title>
<% end %>

<div id="inbox-sidebar" class="sidebar">
	<h1>Inbox</h1>
</div>

<div id="inbox-content" class="js-isotope content" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip" }'>
	<% current_user.received_tips.each do |tip| %>
		<div class="tip">
			<%= link_to image_tag(tip.image.url(:full)), tip.link %>
			<div class="box">
		    <h3><%= link_to tip.title, tip.link %></h3>
		    <p><%= tip.description %></p>
	    		<%= link_to profile_path(tip.user_id) do %>
	    			<%= image_tag tip.user.avatar.url(:thumb), class: "origin" %>
	    		<% end %>
		    	<% if current_user == @user %>
		    		<%= link_to tip, method: :delete, data: { confirm: 'Are you sure?' } do %>
		    			<span class="glyphicon glyphicon-trash"></span>
		    		<% end %>
		    	<% end %>
		  </div>

	<% end %>
</div> 