<div id="inbox-sidebar" class="sidebar">
	<h1>Inbox</h1>
</div>

<div id="inbox-content" class="js-isotope content" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip", "rowHeight": 240, "gutter": 10 }'>
	<% current_user.received_tips.each do |tip| %>
		<div class="tip">
			<% unless tip.image_file_name.nil? %>
				<%= image_tag "tip-aro.png", class: "aro" %>
				<%= link_to image_tag(tip.image.url(:full)), tip.link %>
			<% end %>
			<div class="box">
		    <h3><%= link_to tip.title, tip.link %></h3>
		    <p><%= tip.description %></p>
	    	<%= link_to tip, method: :delete, data: { confirm: 'Are you sure?' } do %>
    			<span class="glyphicon glyphicon-trash"></span>
    		<% end %>
		  </div>
		</div>
	<% end %>
</div> 