<% content_for :head do %>
  <title>Tipster / Inbox</title>
<% end %>

<div id="page" class="inbox-page js-isotope" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip", "stamp": "#stamp" }'>

	<div id="stamp">
		<h1>Inbox</h1>
		<p>Find stuff you've received here. You know the drill.</p>
		<h4>Filters</h4>
		<% if current_user.received_tips.last != nil %>
			<p>Status:</p>
			<div class="filters">
				<div class="filter">New</div> <div class="filter">Visited</div>
			</div>
			<p>Sender:</p>
			<div class="filters">
				<div class="filter" data-filter="*">All</div>
				<% current_user.received_tips.order("created_at DESC").pluck(:user_id).uniq.each do |id| %>
					<div class="filter sender-filter" data-filter=".<%= id %>">
		    		<%= image_tag User.find(id).avatar.url(:thumb) %>
						<%= User.find(id).full_name %>
					</div>
				<% end %>
			</div>
		<% else %>
			<p>You'll be able to filter your tips here, as soon as you get some.</p>
		<% end %>
	</div>

	<!-- Tips -->
	<% current_user.received_tips.order("created_at DESC").each do |tip| %>
		<div class="tip <%= tip.user_id %>">
			<%= link_to image_tag(tip.image.url(:full)), tip.link %>
			<div class="box">
		    <h3><%= link_to tip.title, tip.link %></h3>
		    <p><%= tip.description %></p>
		    	<span class="count"><%= tip.reshares %></span>
		    	<%= link_to profile_path(tip.user_id) do %>
	    			<%= image_tag tip.user.avatar.url(:thumb), class: "origin" %>
	    		<% end %>
		  </div>
		</div>
	<% end %>

</div>