<% content_for :head do %>
  <title>Tipster / Inbox</title>
<% end %>

<div id="page" class="inbox-page">

	<div id="stamp">
		<h1>Inbox</h1>
		<p>Find stuff you've received here. You know the drill.</p>
		<h4>Filters</h4>
		<% if current_user.received_tips.last != nil %>
			<p>Status:</p>
			<div class="filters btn-group" data-toggle="buttons">
				<label class="btn btn-default filter active" data-filter="*">
					<input type="radio" name="options">All
				</label>
				<label class="btn btn-default filter" data-filter=".new">
					<input type="radio" name="options">New
				</label>
				<label class="btn btn-default filter" data-filter=".visited">
					<input type="radio" name="options">Visited
				</label>
			</div>
			<p>Sender:</p>
			<div class="filters scroll btn-group" data-toggle="buttons">
				<label class="btn btn-default filter active" data-filter="*">
					<input type="radio" name="options">All
				</label>
				<% current_user.received_tips.order("shares.created_at DESC").pluck(:user_id).uniq.each do |id| %>
					<label class="btn btn-default filter sender-filter" data-filter=".<%= id %>">
		    		<input type="radio" name="options" id="option1" checked>
		    		<%= image_tag User.find(id).avatar.url(:thumb) %>
						<%= User.find(id).full_name %>
					</label>
				<% end %>
			</div>
		<% else %>
			<p>You'll be able to filter your tips here, as soon as you get some.</p>
		<% end %>
	</div>

	<!-- Tips -->
	<% current_user.received_tips.order("created_at DESC").each do |tip| %>
		<% share = tip.shares.where(user_id: current_user.id).last %>
		<div class="tip <%= tip.user_id %> <% if share.visited == true %>visited<% else %>new<% end %>">
			<%= link_to image_tag(tip.image.url(:full)), visit_link_path(tip), target: '_blank', class: "tip-image" %>
			<div class="box">
		    <h3><%= link_to visit_link_path(tip), target: '_blank' do %><%= raw tip.title %><%end%></h3>
		    <p><%= raw tip.description %></p>
		    	<%= link_to profile_path(tip.user_id) do %>
	    			<%= image_tag tip.user.avatar.url(:thumb), class: "origin", alt: "#{tip.user.full_name} sent you this tip." %>
	    		<% end %>
    			<%= link_to delete_share_path(tip, link: tip.link) do %>
	    			<span class="glyphicon glyphicon-trash"></span>
	    		<% end %>
		  </div>
		</div>
	<% end %>
<div class="spacer narrow"></div>
</div>

<% unless @filter == nil %>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#page').isotope({ filter: '.<%= @filter %>' });
			$('.active').removeClass("active");
			$('label[data-filter=".new"]').addClass('active');
		});
	</script>
<% end %>
