<div class="userforms-container">
  <div class="userform loginform">
    <img src="/assets/logotype-sm.png" class="logotype">
		<h2>Log In</h2>

		<%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
			<div class="google-signin"></div>
		<% end %>

		<%= image_tag "or.png", class: "or"  %>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="userform-group">
		  	<%= f.label :email, class: "sr-only" %>
		  	<%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
			</div>

		  <div class="userform-group">
		  	<%= f.label :password, class: "sr-only" %>
		  	<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
			</div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div class="form-group"><%= f.submit "Log In", class: "btn btn-primary" %></div> 
		<% end %>

		<p><%= render "devise/shared/links" %></p>
		<%= render "devise/shared/ghybridauth" %>
	</div>
	<img src="/assets/boxes-left.jpg" class="boxes">
</div>