<div class="modal fade" id="sendTip" tabindex="-1" role="dialog" aria-labelledby="sendTipLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="sendTipLabel">Send Tip</h4>
      </div>
			<%= form_for(@tip) do |f| %>
				<div class="modal-body">
			  	<% if @tip.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>
				      <ul>
				      <% @tip.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  <p>Enter the URL of the tip you want to send below:</p>

				  <div class="field">
				    <%= f.label :link, class: "sr-only" %><br>
				    <%= f.text_field :link, class: "form-control", placeholder: "e.g., http://www.google.com"  %>
				    <%= hidden_field_tag(:recipient_id, @user.id) %>
				  </div>

				  <p>Pro tip: Use the <a href="https://chrome.google.com/webstore/detail/tipster/kcaggdadonedjneipfkphbianejifnep" target="_blank">Chrome extension</a> to send tips instantly, no URL needed.</p>

				</div>
				<div class="modal-footer">
				  <div class="actions">
				  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    <%= f.submit "Send", class: "btn btn-primary" %>
				  </div>
				</div>
			<% end %>
    </div>
  </div>
</div>