<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link, class: "sr-only" %><br>
    <%= f.text_field :link, class: "form-control", placeholder: "e.g., www.google.com"  %>
    <%= hidden_field_tag(:recipient_id, @user.id) %>
  </div>
  <div class="actions">
    <%= f.submit "Send Tip", class: "btn btn-default" %>
  </div>
<% end %>
