<% @tips.each do |tip| %>
	<div class="tip">
		<% unless tip.image_file_name.nil? %>
			<%= image_tag "tip-aro.png", class: "aro" %>
			<%= link_to image_tag(tip.image.url(:full)), tip.link %>
		<% end %>
		<div class="box">
	    <h3><%= link_to tip.title, tip.link %></h3>
	    <p><%= tip.description %></p>
	    <p class="count"><%= tip.reshares %></p>
	  </div>
	</div>
<% end %>