<div id="tips-index" class="js-isotope" data-isotope-options='{ "layoutMode": "masonry", "itemSelector": ".tip", "columnWidth": 450, "gutter": 10 }'>
	<% @tips.each do |tip| %>
		<div class="tip">
			<% unless tip.image_file_name.nil? %>
				<%= image_tag "tip-aro.png", class: "aro" %>
				<%= link_to image_tag(tip.image.url(:full)), tip.link %>
			<% end %>
			<div class="box">
		    <h3><%= link_to tip.title, tip.link %></h3>
		    <p><%= tip.description %></p>
		    <p>
		    	<span class="count"><%= tip.reshares %></span>
	    	</p>
		  </div>
		</div>
	<% end %>
</div>