<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @tip.link %>
</p>

<p>
  <strong>—-skip-stylesheets:</strong>
  <%= @tip.—-skip-stylesheets %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
