<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="wide">
          <%= link_to root_path, class: "thumb" do %>
            <%= image_tag current_user.avatar.url(:thumb), width: "30px" %>
          <% end %>
        </li>
        <li class="dropdown wide">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Options</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <% if @shares.count > 0 %>
                <%= link_to "Inbox (#{@shares.count})", inbox_path %>
              <% else %>
                <%= link_to "Inbox", inbox_path %>
              <% end %>
            </li>
            <li><%= link_to "Find Friends", "/contacts/gmail", :class => "popup", :"data-width" => 500, :"data-height" => 500 %></li>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li><%= link_to "My Profile", root_path, class: "narrow" %></li>
        <% if @shares %>
          <%= link_to "Inbox (#{@shares.count})", inbox_path, :class => "narrow" %>
        <% else %>
          <%= link_to "Inbox", inbox_path %>
        <% end %>
        <li><%= link_to "Find Friends", "/contacts/gmail", :class => "popup narrow", :"data-width" => 500, :"data-height" => 500 %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path, class: "narrow" %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "narrow" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>