<!DOCTYPE html>
<html>
<head>
  <title>Tipster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:700|Muli:300,400' rel='stylesheet' type='text/css'>
  <script src="/assets/isotope.pkgd.min.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/nav" %>
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	<%= yield %>
</div>

</body>
</html>
