<!DOCTYPE html>
<html>
<head>
  <title>Tipster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
  <script src="/assets/isotope.pkgd.min.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/nav" %>
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	<%= yield %>
</div>

<script type="text/javascript"> 
var ready;
ready = function() {

  var $container = $('#profile-body').imagesLoaded( function() {
    // init
    $container.isotope({
      // options
      itemSelector: '.tip',
      layoutMode: 'masonryHorizontal',
      masonryHorizontal: {
        rowHeight: 240,
        gutter: 10
      }
    });
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>

</body>
</html>