<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
    <%= content_for(:head) %>
  <% else %>
    <title>Tipster</title>
  <% end %>
  <%= stylesheet_link_tag    'front', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body id="front">

<div class="container-fluid">
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	<%= yield %>
</div>

</body>
</html>
